<div class="container">

<%= render 'layouts/header' %>

<% if current_user == @user %>

<% flash.each do |k, message| %>
  <div class="alert alert-success"><%= message %></div>
<% end %>

  <h3>Hi, <%= @user.name %>. Here are your saved maps.</h3>

  <%= link_to "create a new map", root_path, class: "btn btn-default" %>
  <%= link_to "Log out", logout_path, class: "btn btn-default" %>

  <div class="flex-container">

    <% @user.maps.each do |map| %>

      <div class="flex-item">

        <h4><%= link_to "map: #{map.name}", user_map_path(@user.id, map.id), "data-no-turbolink" => true %> <%= link_to "X", user_map_path(@user.id, map.id), class: "btn btn-default delete-btn", method: :delete, "data-no-turbolink" => true, data: {confirm: 'Are you sure?'} %></h4>
        <% map_data = JSON.parse(map.data) %>

        <div class="dem-tally">
          Democrats: <div id="dems"><%= map_data["blue"] %></div><br />
          <h5><%= map_data["blueStates"].sort.join(", ") %></h5>
        </div>

        <div class="rep-tally">
          Republicans: <div id="reps"><%= map_data["red"] %></div><br />
          <h5><%= map_data["redStates"].join(", ") %></h5>
        </div>

      </div>

    <% end %>

  </div>

  <% else %>

    <h4>Sorry, a user's page is only visible by that user.</h4>

    <%= link_to "return to main page", root_path, class:"btn btn-default" %>

  <% end %>

</div>

<script>
  $(".alert-success").delay(3000).slideUp(200, function() {
    $(this).alert('close');
  });
</script>
