<h3>Hi, <%= @user.name %>. Here are your saved maps.</h3>
<div>
<% @user.maps.each do |map| %>
  <h4><%= map.name %></h4>
  <% map_data = JSON.parse(map.data) %>
  <h5>Blue EV: <%= map_data["blue"] %></h5>
  <h5>states: <%= map_data["blueStates"] %></h5>
  <h5>Red EV: <%= map_data["red"] %></h5>
  <h5>states: <%= map_data["redStates"] %></h5>
  <h5><%= link_to "see map", user_map_path(@user.id, map.id)  %>
<% end %>
</div>
