<div class="container">

  <h3>Hi, <%= @user.name %>. Here are your saved maps.</h3>

  <h4>create new map</h4>

  <div class="flex-container">

    <% @user.maps.each do |map| %>

      <div class="flex-item">

        <h4><%= link_to "map: #{map.name}", user_map_path(@user.id, map.id), "data-no-turbolink" => true %> | <%= link_to "delete map", user_map_path(@user.id, map.id), method: :delete, "data-no-turbolink" => true %></h4>
        <% map_data = JSON.parse(map.data) %>

        <div class="dem-tally">
          Democrats: <div id="dems"><%= map_data["blue"] %></div><br />
          <h5><%= map_data["blueStates"].sort.join(", ") %></h5>
        </div>

        <div class="rep-tally">
          Republicans: <div id="reps"><%= map_data["red"] %></div><br />
          <h5><%= map_data["redStates"].join(", ") %></h5>
        </div>

      </div>

    <% end %>

  </div>

</div>
