<div class="container-fluid">

  <div class="select-map">
    <form class="form-horizontal">
      <div class="form-group">
            <label for="select" class="col-lg-9 control-label">Select a pre-made map:</label>
            <div class="col-lg-10">
              <select class="form-control" id="select">
                <option>2012 election</option>
                <option>all blue</option>
                <option>all red</option>
              </select>
            </div>
          </div>
  </form>
  </div>

  <div class="headers">
    <%= render 'layouts/header' %>

    <p>
      Left-click: blue > red > unassigned | Right-click: red > blue > unassigned<br />
    </p>


    <% if !user_signed_in? %>

      <p>
        Play around! If you want to save what you make, <%= link_to "create an account", signup_path %> or <%= link_to "log in", login_path %> before playing around.
      </p>

    <% end %>

    <div class="list-group">
      <div class="list-group-item active">
        <div class="btn btn-default reset">Reset tally</div>
      </div>
      <div class="list-group-item">
        <div class="dem-tally">
          Democrats: <div id="dems"><%= @blue_EV %></div>
        </div>

        <div class="unassigned-tally">
          Unassigned: <div id="unassigned"><%= @unassigned_EV %></div>
        </div>

        <div class="rep-tally">
          Republicans: <div id="reps"><%= @red_EV %></div>
        </div>
      </div>

      <div class="list-group-item">

        <% if user_signed_in? %>
          <h4>Hi, <%= link_to @user.name, user_path(@user), "data-no-turbolink" => true %>. <%= link_to "Log out", logout_path, class: "btn btn-default" %></h4>

          <% if @map && @map.user == @user %>

            <!-- update map -->
            <h4>Map name: "<%= @map.name %>"</h4>
            <%= form_for [@user, @map], url: user_map_path(@user, @map) do |f| %>
              <%= f.hidden_field :data %>
              <%= f.submit "Update map", class:"btn btn-default update-btn" %>
            <% end %>

          <% elsif @map && @map.user != @user %>

            <!-- show no options -->

          <% else %> <!-- no existing @map -->

            <!-- save map -->
            <div class="btn btn-default save-btn">Save current map</div>

            <div class="save-form">

              <%= form_for Map.new, url: user_maps_path(@user) do |f| %>
                <%= f.label "Map name:" %> <%= f.text_field :name %><br />
                <%= f.hidden_field :data %>
                <%= f.submit "Save current map", class:"btn btn-default real-save-btn" %>
              <% end %>

            </div>

          <% end %>
          <%= link_to "go to a new blank map", root_path, class:"btn btn-default" %>

        <% else %> <!-- user not signed in -->

          <%= form_tag(login_path, method: 'post') do %>
            <%= label_tag :name, "Name:" %>
            <%= text_field_tag :name %>
            <%= label_tag :password, "Password:" %>
            <%= password_field_tag :password %>
            <%= submit_tag "Log in", class: "btn btn-default login-btn" %>
          <% end %>

          or <%= link_to "Sign up here", signup_path, class: "btn btn-default" %>

        <% end %>

        <% flash.each do |k, message| %>
          <div class="alert alert-success"><%= message %></div>
        <% end %>

      </div>
    </div>

  </div>

  <%= javascript_tag do %>
    window.userMapData = '<%= @data %>';
  <% end %>

  <!-- prevent number highlighting on double-click -->
  <div class="map" oncontextmenu="return false;">
    <!-- D3 map appears here -->
  </div>

  <footer>
    <div class="container text-center">
      <p class="text-muted">Created by <a href="http://www.jeffslutzky.com">Jeff Slutzky</a>. Code <a href="https://github.com/jeffslutzky/electoral-college">here</a>.</p>
    </div>
  </footer>

</div>

<script>
  getMap();
</script>
