<div class="container-fluid">

  <div class="headers">
    <p>
      <h1>2016 Electoral College Vote Calculator</h1>
      <h4>by <%= link_to "Jeff Slutzky", "http://jeffslutzky.com" %></h4>

      Left-click: blue > red > unassigned<br />
      Right-click: red > blue > unassigned<br />
    </p>

    <div class="list-group">
      <div class="list-group-item active">
        Electoral vote tally <div class="btn btn-default reset">Reset</div>
      </div>
      <div class="list-group-item">
        Unassigned: <div id="unassigned"><%= @unassigned_EV %></div><br />
      </div>
      <div class="list-group-item dem-tally">
        Democrats: <div id="dems"><%= @blue_EV %></div><br />
      </div>
      <div class="list-group-item rep-tally">
        Republicans: <div id="reps"><%= @red_EV %></div><br />
      </div>
      <div class="list-group-item">
        <% if user_signed_in? %>
          <h4>Hi, <%= link_to @user.name, user_path(@user) %>.</h4>
          <%= link_to "Log out", logout_path, class: "btn btn-default navbar-btn" %>

          <% if @map %>
            <!-- update map -->
            <%= form_for [@user, @map], url: user_map_path(@user, @map) do |f| %>
              <%= f.hidden_field :data %>
              <%= f.submit "Update map", class:"btn btn-default" %>
            <% end %>
          <% else %>
            <!-- save map -->
            <%= form_for Map.new, url: user_maps_path(@user) do |f| %>
              <%= f.label "Map name" %><br />
              <%= f.text_field :name %><br />
              <%= f.hidden_field :data %>
              <%= f.submit "Save current map", class:"btn btn-default" %>
            <% end %>
          <% end %>

        <% else %>

          <%= form_tag(login_path, method: 'post') do %>
            <%= label_tag :name %>
            <%= text_field_tag :name %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= submit_tag "Log in", class: "btn btn-default navbar-btn" %> or
            <%= link_to "Sign up", signup_path, class: "btn btn-default navbar-btn" %>
          <% end %>

        <% end %>

      </div>
    </div>

  </div>

  <%= javascript_tag do %>
    window.userMapData = '<%= @data %>';
  <% end %>

  <!-- prevent number highlighting on double-click -->
  <div class="map" oncontextmenu="return false;">
    <!-- D3 map appears here -->
  </div>
</div>

<script>
  getMap();
</script>
